#page-orphanage {
  display: flex;
  min-height: 100vh;
}

aside.sidebar {
  position: fixed;
  height: 620px;
  padding: 3.2rem 2.4rem; /*32px 24px*/
  background: #15c3d6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8rem;
}

aside.sidebar footer button {
  width: 48px;
  height: 48px;
  top: 740px;
  left: 24px;
  background: hsl(61, 83%, 49%);
  border: none !important;
  border-radius: 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-center 0.2s;
}

aside.sidebar footer button:hover {
  background: hsl(61, 67%, 77%);
}

.with-sidebar {
  padding-left: 156px;
}

main {
  flex: 1;
}

/* details */

.orphanage-details {
  width: 70rem;
  margin: 6.4rem;
  background: white;
  border: 1px solid #d3e2e5;
  border-radius: 2rem;
  overflow: hidden;
  flex: 1;
  margin: 4rem auto;
}

.orphanage-details > img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1.6rem;
  margin: 16px 40px;
}

.images button img {
  width: 100%;
  height: 8.8rem;
  object-fit: cover;
}

.images button {
  border: 0;
  background: none;
  height: 8.8rem;
  cursor: pointer;
  border-radius: 2rem;
  overflow: hidden;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.images button:hover {
  opacity: 1;
}

.images button.active {
  opacity: 1;
}

/* orphanage-details-content */

.orphanage-details-content {
  padding: 2rem;
  align-items: center;
}

.orphanage-details-content h1 {
  color: 4d6f80;
  font-size: 5.4rem;
  font: 600 5.4rem/1 "Outfit", sans-serif;
  margin-bottom: 0.8rem;
  margin-top: 2.5rem;
  justify-content: center;
  align-items: center;
}

.orphanage-details-content p {
  font: 600 1.5rem/1 "Outfit", sans-serif;
  line-height: 1.8;
}

.orphanage-details-content h2 {
  font: 400 2.5rem/1 "Outfit", sans-serif;
  color: #4d6f80;
}

.orphanage-details-content hr {
  width: 100%;
  height: 2px;
  border: 0;
  background: #d3e2e6;
  margin-top: 2rem;
}

/* map-container 

.map-container {
  margin-top: 2rem;
  background: #e6f7fb;
  border: 1px solid #b3dae2;
  border-radius: 2rem;
  overflow: hidden;
}

.map-container footer {
  padding: 2rem 0;
  text-align: center;
}

.map-container footer a {
  color: #0089a5;
  text-decoration: none;
  font: 400 1.5rem/1 "Outfit", sans-serif;
}

.mapid {
  width: 100%;
  height: 28rem;
}

*/

/* open-details */

.open-details {
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Outfit", "sans-serif";
  font-size: 1.2rem;
  column-gap: 1rem;
}

.open-details div {
  padding: 3.2rem 2.4rem;
  margin: auto;
}

.open-details .hour {
  width: 264px;
  height: 176px;
  left: 494px;
  top: 1401px;
  margin-bottom: 2rem;
  font: 400 1rem/1 "Outfit", sans-serif;

  background: linear-gradient(149.97deg, #e6f7fb 8.13%, #ffffff 92.67%);
  border: 1px solid #b3dae2;
  box-sizing: border-box;
  border-radius: 20px;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.open-details .open-on-weekends {
  width: 264px;
  height: 176px;
  left: 778px;
  top: 1401px;
  font: 400 1rem/1 "Outfit", sans-serif;

  background: linear-gradient(154.16deg, #edfff6 7.85%, #ffffff 91.03%);
  /* Green Low */

  border: 1px solid #a1e9c5;
  box-sizing: border-box;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* 

map-container .leaflet-container {
  border-bottom: 1px solid #e6f7fb;
  border-radius: 2rem;
}

*/
